<?php
/**
 * @var $block Webmango\ProductManual\Block\Adminhtml\Edit\ProductManual
 * @var $escaper \Magento\Framework\Escaper
 */
?>
<?php
$product = $block->getProduct();
$manuals = $block->getManuals($product);
?>

<div class="field admin__field link ">
    <table class="admin__dynamic-rows admin__control-table" id="webmango-product-manuals-table">
        <thead>
        <tr>
            <th><?= __("Title"); ?></th>
            <th><?= __("File"); ?></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($manuals as $manual): ?>
            <tr data-manaul-id="<?= $manual->getId() ?>">
                <td><p><?= $manual->getTitle() ?></p></td>
                <td><a target="_blank"
                       href="<?= $block->getManualUploadLocation($manual->getfileName()) ?>"><?= $manual->getfileName() ?></a>
                </td>
                <td><button class="remove action-delete"></button></td>
            </tr>
        <?php endforeach; ?>
        <tr class="wm-empty-row">
            <td class="td-name"><input data-form-part="product_form"  type="text" name="product_manual[0][title]"></td>
            <td class="td-file"><input type="file" name="product_manual_file" disabled></td>
            <td class="td-delete"><input data-form-part="product_form" type="hidden" name="product_manual[0][file]"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <button class="wm-add-row-btn" type="button" disabled>
                    <span><?= __("Add link"); ?></span>
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<script>
    require(['jquery'], function ($) {
        var emptyRowClone = $('#webmango-product-manuals-table .wm-empty-row').clone().wrap('<tr/>').parent().html();
        var counter = 0;
        $('#webmango-product-manuals-table .wm-add-row-btn').on('click',function (){
            counter++;
            emptyRowClone = emptyRowClone.replace(/[0-9]+/g, counter);
            $('#webmango-product-manuals-table tbody').append(emptyRowClone);
            $(this).prop('disabled', true);
        });

        var formdata = new FormData();
        $('#webmango-product-manuals-table input[name="product_manual_file"]').live("change", function () {
            var parent = $(this).closest('tr');
            var file = this.files[0];
            var fileTitle =  $(parent).find('.td-name input').val();

            if (formdata) {
                formdata.append("file", file);
                formdata.append("form_key", window.FORM_KEY);

                $.ajax({
                    url: <?= json_encode($block->getManualUploadUrl()) ?>,
                    type: "POST",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response);
                        if (response.file) {
                            $(parent).find('.td-name input').hide();
                            $(parent).find('.td-name').append('<p>'+fileTitle+'</p>');

                            $(parent).find('.td-file').html('<a target="_blank" href="'+response.url+'">'+response.name+'</a>');

                            $(parent).find('.td-delete input').val(response.file);
                            $(parent).find('.td-delete').append('<p>Please save product</p>');

                            $('#webmango-product-manuals-table .wm-add-row-btn').prop('disabled', false);
                        }
                    }
                });
            }
        });

        $('#webmango-product-manuals-table .td-name input').live('keyup', function () {
            var parent = $(this).closest('tr');
            var fileInput = $(parent).find('input[name="product_manual_file"]');
            if($(this).val()){
                $(fileInput).prop('disabled', false);
            }else{
                $(fileInput).prop('disabled', true);
            }
        });

        $('#webmango-product-manuals-table .remove').live('click', function () {
            var id = $(this).closest('tr').data('manaul-id');
            $(this).closest('tr').remove();
            $.ajax({
                url: <?= json_encode($block->getManualRemoveUrl()) ?>,
                type: "POST",
                data: {
                    "manual_id": id,
                    "form_key": window.FORM_KEY
                },
                success: function (response) {
                    // set filename value
                    console.log(response);
                    //todo remove row with jquery
                }
            });
        });
    });
</script>
