//
//  Mobile (style-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .page-footer {
        &-newsletter {
            background-color: @color-gray-100;
            &-wrapper {
                &-content {
                    max-width: 450px;
                    margin: 0 auto;
                    text-align: center;
                    .block.newsletter {
                        margin: 0;
                        #newsletter-error {
                            text-align: left;
                        }
                    }
                }
            }
        }
        .footer.content {
            overflow: hidden;
            ul {
                li {
                    padding: 3px 0;
                    a {
                        color: @text__color;
                        .lib-font-size(16);
                        &:hover {
                            color: @button__hover__color;
                        }
                    }
                }
            }
            .footer-col-4 {
                img {
                    height: auto;
                }
            }
        }
        .page-footer-bottom-wrapper {
            background-color: @color-gray-100;
            .page-footer-bottom {
                .webmango-max-layout();
                a, span, li {
                    vertical-align: top;
                    .lib-font-size(15);
                    font-family: @font-semibold;
                    color: @color-black-900;
                    &:hover {
                        color: @button__hover__color;
                    }
                }
                small {
                    vertical-align: text-top;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-footer {
        margin-top: 50px;
        &-newsletter {
            padding-top: 30px;
            padding-bottom: 30px;
            &-wrapper {
                &-content {
                    .block.newsletter {
                        margin-top: 10px;
                    }
                }
            }
        }
        .footer {
            padding-top: 40px;
            padding-bottom: 40px;
            &-link-col {
                h3 {
                    margin: 0 0 10px 0;
                }
                .lib-layout-column(1, 1, 100%);
                margin-bottom: 40px;
            }
            .footer-col-4 {
                margin-top: 40px;
                margin-bottom: 0px;
                img {
                    max-width: 230px;
                }
            }
        }
        .page-footer-bottom-wrapper {
            .page-footer-bottom {
                padding: 25px 0;
                ul {
                    margin-top: 10px;
                    li {
                        display: block;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer {
        margin-top: 150px;
        &-newsletter {
            padding: 50px 0;
            &-wrapper {
                &-content {
                    h1 {
                        .lib-font-size(38);
                    }
                    .block.newsletter {
                    }
                }
            }
        }
        .footer {
            padding-top: 80px;
            padding-bottom: 80px;
            &-link-col {
                h3 {
                    margin: 0 0 20px 0;
                }
                .lib-layout-column(4, 1, 25%);
                img {
                    max-width: 300px;
                }
            }
        }
        .page-footer-bottom-wrapper {
            .page-footer-bottom {
                padding: 50px 0;
                span {
                    margin-right: 20px;
                }
                ul {
                    display: inline-block;
                    .lib-list-inline();
                    li {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-footer {
        &-newsletter {
            padding: 60px 0;
            &-wrapper {
                &-content {
                    h1 {
                        .lib-font-size(44);
                    }
                    .block.newsletter {
                    }
                }
            }
        }
    }
}
