//
//  Common (style-m.css)
//  _____________________________________________
& when (@media-common = true) {
}
//
//  Mobile (style-m.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-header {
        .header-col-left {
            .logo {
                width: 180px;
                left: 34%;
                img {
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header {
        height: 63px;
        padding: @indent__s;
        .header-col-left {
            .lib-layout-column(1, 1, 100%);
            .logo {
                width: 200px;
                left: 44%;
                transform: translateX(-50%);
                img {
                    width: 100%;
                }
            }
            .header-account{
                .lib-font-size(26);
                color: @color-black-900;
                display: inline-block;
                position: absolute;
                right: 70px;
                top: 25px;
                z-index: 2;
            }
            .minicart-wrapper {
                margin-top: 15px;
                position: relative;
            }
        }
    }
    .nav-open {
        .section-items {
            .title {
                padding-left: 10px;
            }
            .navigation {
                li {
                    position: relative;
                    .bubble {
                        top: 11px;
                    }
                    a {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        background-color: @navigation__background;
        .header-container-wrapper {
            .webmango-max-layout();
            overflow: visible;
            .header-col-left {
                .lib-layout-column(2, 1, 30%);
                .header.content {
                    .logo {
                        width: 100%;
                        img {
                            width: 100%;
                            max-width: 300px;
                            height: auto;
                            box-sizing: border-box;
                            padding: 10px 0;
                        }
                    }
                }
            }
            .header-col-right {
                .lib-layout-column(2, 2, 70%);
                .panel.wrapper {
                    .panel.header {
                        box-sizing: border-box;
                        a {
                            color: @color-black-300;
                            .lib-font-size(16);
                        }
                        .switcher {
                            float: right;
                            .webmango-list-inline();
                            ul {
                                li {
                                    text-transform: uppercase;
                                    &:not(:last-child) {
                                        margin-right: 15px;
                                    }
                                    a {
                                        &:not(.active) {
                                            color: @color-black-300;
                                            text-decoration: underline;
                                        }
                                        &.active {
                                            font-family: @font-bold;
                                            color: @color-black-900;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .sections.nav-sections {
                    .section-items {
                        .lib-layout-column(2, 1, 90%);
                        .navigation {
                            ul {
                                text-align: right;
                                li {
                                    &:nth-child(3) {
                                        a {
                                            .button-solid-gradiant;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .minicart-wrapper {
                        .lib-layout-column(2, 2, 10%);
                        padding-top: 5px;
                        .action.showcart {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
