& when (@media-common = true) {
    .owl-carousel {
        &.owl-product-slider {
            .item {
                background-color: white;
                width: 100% !important;
                margin-bottom: 0;
                .product-item-photo {
                    display: block;
                    .product-image-wrapper {
                        padding-bottom: 100% !important;
                        .product-image-photo {
                            margin-top: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
                .product-item-details {
                    padding: 0 10px;
                }
            }
        }
    }
    .owl-nav {
        .owl-nav-btn {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            .fas {
                line-height: 2.4;
                font-size: 2rem;
                &.fa-chevron-left {
                    margin-left: -5px;
                }
                &.fa-chevron-right {
                    margin-right: -5px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .show-mobile-half {
        margin-right: -15px;
        .owl-nav {
            &.nav-mobile {
                margin-right: 15px;
            }
        }
    }
    .owl-nav {
        &.nav-desktop {
            display: none;
        }
        &.nav-mobile {
            margin-bottom: 10px;
            display: block;
            float: right;
        }
    }
}
//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .owl-nav {
        &.nav-desktop {
            display: block;
        }
        &.nav-mobile {
            display: none;
        }
    }
}
