/**
 * Copyright Webmango
 * Author Vince Verhoeven
 * Date: 17 Jun 2020
 */

//  colors
//  _____________________________________________
@color-purple-gradient: linear-gradient(to right, #0a00b6 0%, #00acc1 100%);
@color-purple-300:#9d46ff;
@color-purple-500:#6200ea;
@color-purple-900:#0a00b6;

@color-cyan-300:#5ddef4;
@color-cyan-500:#00acc1;
@color-cyan-900:#007c91;

@color-black-300:#636363;
@color-black-500:#424242;
@color-black-900:#212121;
@color-black-999: #000;

@color-gray-100:#f9f9f9;
@color-gray-300:#EEEEEE;
@color-gray-500:#E0E0E0;
@color-gray-900:#BDBDBD;

@color-white-900:#ffffff;

@product-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
@product-shadow-hover:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

//  Fonts
//  _____________________________________________
@font-light:'SourcSansPro-Light';
@font-regular:'SourcSansPro-Regular';
@font-semibold:'SourcSansPro-SemiBold';
@font-bold:'SourcSansPro-Bold';
@font-black:'SourcSansPro-Black';


@font-awesome-regular:'Font Awesome 5 Regular';
@font-awesome-solid:'Font Awesome 5 Solid';
@font-awesome-brands:'Font Awesome 5 Brands';

// Magento 2 variables

// Fonts
//  _____________________________________________
@font-family__base: @font-regular;
@text__color: @color-black-900;
@h1__font-family: @font-black;
@h1__font-size: 5.5rem;
@h2__font-family: @font-black;
@h2__font-size: 3rem;
@h3__font-family: @font-black;
@h3__font-size: 2.4rem;
@h4__font-family: @font-black;
@h4__font-size: 2rem;
@h5__font-family: @font-black;
@font-size-ratio__base: 1.6;
//  list
//  _____________________________________________
@list__margin-bottom: 0;
@checklist__color: @color-purple-900;
//  colors
//  _____________________________________________
@primary__color: @color-black-900;
@color-gray56: @color-black-900;
@active__color: @color-cyan-500;
//  Buttons
//  _____________________________________________
@button__border-radius: 20px;
@button__padding: 15px 20px;
@button__color: @color-white-900;
@button__hover__color:@color-purple-900;
@button__background: @color-purple-900;
@button__hover__background: @color-white-900;
@button__border: solid 1px @color-white-900;
@button__hover__border: solid 1px @color-purple-900;
@button__font-weight: normal;
@_button-font-size: 1.5rem;

@button-primary__background: @color-purple-900;
@button-primary__hover__background: @color-purple-900;
@button-primary__font-family: @font-semibold;
@button-primary__border:none;
@button-primary__hover__border:none;
@button-primary__font-size: 1.7rem;
//  Desktop navigation
//  _____________________________________________
@navigation__background:@color-white-900;
@navigation-desktop-level0-item__color: @color-black-900;
@navigation-desktop-level0-item__active__border-style: none;
@navigation-desktop-level0-item__active__color: @color-black-999;

@navigation-desktop__font-size: 1.6rem;
@navigation-desktop__font-weight: 300;
@navigation-desktop-level0-item__line-height: 1.2;
@navigation-desktop-level0-item__margin: 0 50px 0 0;

//  Mobile navigation
//  _____________________________________________
@navigation-level0-item__font-weight: 300;
@navigation-level0-item__text-transform:none;
@navigation-level0-item__color: @color-black-900;

//  Layout variables
//  _____________________________________________
@layout__max-width: 1480px;

//  Checkout
//  _____________________________________________
