.lib-font-face(
    @family-name:@font-black,
    @font-path: '@{baseDir}fonts/source-sans-pro-v13-latin-900',
    @font-weight: normal,
    @font-style: normal
);
.lib-font-face(
    @family-name:@font-bold,
    @font-path: '@{baseDir}fonts/source-sans-pro-v13-latin-700',
    @font-weight: normal,
    @font-style: normal
);
.lib-font-face(
    @family-name:@font-semibold,
    @font-path: '@{baseDir}fonts/source-sans-pro-v13-latin-600',
    @font-weight: normal,
    @font-style: normal
);
.lib-font-face(
    @family-name:@font-regular,
    @font-path: '@{baseDir}fonts/source-sans-pro-v13-latin-regular',
    @font-weight: normal,
    @font-style: normal
);
.lib-font-face(
    @family-name:@font-light,
    @font-path: '@{baseDir}fonts/source-sans-pro-v13-latin-300',
    @font-weight: normal,
    @font-style: normal
);
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 2.5rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
}
