.button-solid-gradiant {
    .lib-button(
        @_button-padding: 15px 20px,
        @_button-gradient-color-start: @color-purple-900,
        @_button-gradient-color-end: @color-cyan-500,
        @_button-gradient-direction: horizontal,
        @_button-gradient: true,
        @_button-gradient-color-start-hover: @color-white-900,
        @_button-gradient-color-end-hover: @color-white-900
    );
    border-radius: @button__border-radius;
    span {
        color: @button__color;
    }
    &:hover {
        span {
            color: @button__hover__color;
        }
    }
}
.button-transparent-gradiant(
    @button-transparent-gradiant-padding: 15px 20px,
        @button-transparent-gradiant-font-size: 1.6rem
) {
    .lib-button(
        @_button-color: @color-cyan-900,
        @_button-border: solid 1px @color-purple-900,
        @_button-background: @color-white,
        @_button-padding: @button-transparent-gradiant-padding,
        @_button-font-size: @button-transparent-gradiant-font-size
    );
    border-radius: 30px;
    text-align: center;
    span {
        color: @color-cyan-900;
    }
    &:hover {
        span {
            color: @color-cyan-900;
        }
    }
}
.button-transparent-gradiant {
    .button-transparent-gradiant();
}
