.webmango-max-layout(){
    margin-left: auto;
    margin-right: auto;
    max-width: @layout__max-width;
    width: 100%;
    box-sizing: border-box;
    padding-left: @layout-indent__width;
    padding-right: @layout-indent__width;
    display: block;
    overflow: hidden;
}
