.webmango-list-inline(){
    ul {
        margin-bottom: 0;
        list-style: none;
        li{
            display: inline-block;
        }
    }
}
.webmango-list-inline{
    .webmango-list-inline();
}

.webmango-checklist() {
    ul {
        list-style: none;
        padding-left: 20px;
        li {
            font-family: @font-semibold;
            margin-bottom: 3px;
            &:before {
                color:@checklist__color;
                content: @fa-var-check-circle; /* FontAwesome Unicode */
                font-family: @font-awesome-solid;
                display: inline-block;
                margin-left: -1.3em; /* same as padding-left set on li */
                width: 1.3em; /* same as padding-left set on li */
            }
        }
    }
}
.webmango-checklist{
    .webmango-checklist();
}
