.webmango-bubble(
    @webmango-bubble-color:@color-white-900,
    @webmango-bubble-margin: 0 10px 0 0,
    @webmango-bubble-padding: 2px 8px,
    @webmango-bubble-background: @color-cyan-500,
    @webmango-bubble-radius: 8px
) {
    text-align: center;
    display: inline-block;
    font-family: @font-semibold;
    background-color: @webmango-bubble-background;
    border-radius: @webmango-bubble-radius;
    padding: @webmango-bubble-padding;
    margin: @webmango-bubble-margin;
    color: @webmango-bubble-color;
}
.webmango-font-bold(@webmango-font-bold: @font-bold) {
    font-family: @webmango-font-bold;
    font-weight: 300;
}
