<?php
/**
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/**
 * @var $block \Manadev\LayeredNavigation\Blocks\Navigation
 *
 * Based on app/code/Magento/LayeredNavigation/view/frontend/templates/layer/view.phtml (diff to check
 * what has changed).
 */
?>

<?php if ($block->isVisible()): ?>
    <div class="mana-filter-block-wrapper">
        <div class="block filter mana-filter-block"
             data-mage-init='{ "Manadev_LayeredNavigation/js/NavigationView": {} }'>
            <div class="mana-filter-block-content">
                <div class="block-title filter-title">
                    <?php echo __('Filter.') ?>
                </div>
                <div class="block-content filter-content">
                    <?php if ($block->hasState() && $block->isAppliedFilterVisible()) : ?>
                        <div class="filter-current">
                            <ol class="items">
                                <?php foreach ($block->getAppliedFilters() as $engineFilter): ?>
                                    <?php foreach ($engineFilter->getAppliedItems() as $item) : ?>
                                        <li class="item"><?php echo $block->renderAppliedItem($engineFilter, $item) ?></li>
                                    <?php endforeach; ?>
                                <?php endforeach; ?>
                            </ol>
                        </div>

                        <div class="block-actions filter-actions">
                            <a href="<?php echo $block->getClearUrl() ?>"<?php echo $block->getClearLinkAttributes() ?>
                               class="action clear filter-clear"><span><?php echo __('Clear All') ?></span></a>
                        </div>
                    <?php endif; ?>

                    <dl class="filter-options" id="narrow-by-list">
                        <?php foreach ($block->getFilters() as $filter): ?>
                            <?php $cssClass = $block->getData('css_prefix') . '-filter-' . str_replace('_', '-', $filter->getFilter()->getData('param_name')) ?>
                            <dt role="heading" aria-level="3"
                                class="filter-options-title <?php echo $cssClass ?>"><?php echo $block->escapeHtml(__($filter->getName())) ?></dt>
                            <dd class="filter-options-content <?php echo $cssClass ?>"><?php echo $block->renderFilter($filter) ?></dd>
                        <?php endforeach; ?>
                    </dl>
                </div>
            </div>
        </div>

        <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "filter-scope": {
                        "component": "Manadev_LayeredNavigation/js/filter",
                        "filterWrapper" : ".mana-filter-block-wrapper",
                        "filterBlock" : ".mana-filter-block"
                    }
                }
            }
        }
    }



        </script>
        <div data-bind="scope: 'filter-scope'">
        <span class="custom-filter-mobile">
            <i data-bind="attr: { 'class': icon }, click: clickMe"></i>
        </span>
        </div>
    </div>
<?php endif; ?>
