& when (@media-common = true) {
    .mana-filter-block-wrapper {
        .mana-filter-block {
            .filter-title {
                font-family: @font-black;
            }
            .filter-current {
                .action {
                    &.remove {
                        color: @color-purple-500;
                    }
                }
            }
            .block-actions {
                .action {
                    &.clear {
                        color: @color-purple-500;
                    }
                }
            }
            .filter-options {
                .filter-options-title {
                    font-family: @font-black;
                }
                .filter-options-content {
                    .items {
                        li {
                            &.item {
                                a {
                                    &:before {
                                        border-radius: 3px;
                                        font-family: @font-awesome-solid;
                                        margin-right: 3px;
                                    }
                                }
                                &:not(.mana-selected) {
                                    a {
                                        color: @text__color;
                                        &:before {
                                            .lib-font-size(16);
                                            content: @fa-var-square;
                                            //   content:@fa-var-check-square
                                            color: @color-white-900;
                                            border: solid 1px @color-black-900;
                                        }
                                        .count {
                                            color: @text__color;
                                        }
                                    }
                                }
                                &.mana-selected {
                                    a {
                                        color: @color-purple-500;
                                        &:before {
                                            .lib-font-size(20);
                                            content: @fa-var-check-square;
                                            color: @color-purple-500;
                                        }
                                        .count {
                                            color: @color-purple-500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .mana-filter-block-wrapper {
        .mana-filter-block {
            transition: height 1s ease-out;
            animation: fadeOut 1s forwards;
            padding: 40px 20px;
            height: 0;
            width: 100%;
            left: 0;
            top: 0;
            overflow: hidden;
            background-color: @color-white-900;
            position: fixed;
            margin: 0;
            z-index: 11;
            &.active {
                height: 100%;
                animation: zoomIn 0.5s forwards;
                transition: height 0.5s ease-in;
            }
            .mana-filter-block-content{
                height: 550px;
                overflow-y: scroll;
                .filter-title {
                    .lib-font-size(50);
                }
                .filter-options {
                    .filter-options-title {
                        .lib-font-size(24);
                    }
                    .filter-options-content {
                        .items {
                            li.item {
                                a {
                                    .lib-font-size(18);
                                }
                            }
                        }
                    }
                }
            }
        }
        .custom-filter-mobile {
            position: fixed;
            background-color: @color-purple-500;
            bottom: 20px;
            left: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            z-index: 12;
            text-align: center;
            box-shadow: @product-shadow;
            animation: bounce;
            animation-duration: 2s;
            .fas {
                line-height: 50px;
                color: @color-white-900;
                &.fa-times {
                    .lib-font-size(30);
                }
                &.fa-filter {
                    .lib-font-size(20);
                }
            }
        }
    }
}
//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .mana-filter-block-wrapper {
        .mana-filter-block {
            .filter-title {
                .lib-font-size(22);
            }
            .filter-options {
                .filter-options-title {
                }
                .filter-options-content {
                    .items {
                        li.item {
                            a {
                                .lib-font-size(14);
                            }
                        }
                    }
                }
            }
        }
        .custom-filter-mobile {
            .lib-visibility-hidden();
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .mana-filter-block-wrapper {
        .mana-filter-block {
            .filter-title {
                .lib-font-size(30);
            }
            .filter-options {
                .filter-options-title {
                    .lib-font-size(22);
                }
                .filter-options-content {
                    .items {
                        li.item {
                            a {
                                .lib-font-size(16);
                            }
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .mana-filter-block-wrapper {
        .mana-filter-block {
            .filter-title {
                .lib-font-size(40);
            }
            .filter-options {
                .filter-options-title {
                }
                .filter-options-content {
                    .items {
                        li.item {
                            a {
                                .lib-font-size(16);
                            }
                        }
                    }
                }
            }
        }
    }
}
