<?php
/**
 * @var \Webmango\WebmangoBlog\Block\Blog $block
 */
$posts = $block->getLatestBlogs();
?>

<?php if ($posts): ?>
    <div class="blog-latest-text owl-carousel"
         data-mage-init='{ "webmangoProductSlider":
         {"maxItems":"1","smartSpeed":"2000","animateOut":"fadeOut","autoplayTimeout":"7000"} }'>
        <?php foreach ($posts as $post): ?>
            <a class="blog-text-wrapper item" href="<?= $post->getUrlKey() ?>">
                <span class="text-bubble">
                    <?= __("New"); ?>
                </span>
                <span class="text-content">
                    <?= $block->truncateText($post->getTitle(), 50) ?>
                </span>
            </a>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
