<?php
/**
 * @var \Webmango\WebmangoBlog\Block\Blog $block
 */
$posts = $block->getLatestBlogs();
?>

<?php if ($posts): ?>
    <div class="blog-grid owl-carousel owl-theme owl-product-slider"
         data-mage-init='{ "webmangoProductSlider": {"maxItems":"3"} }'>
        <?php foreach ($posts as $post): ?>
            <div class="blog-post item">
                <div class="blog-post-image-wrapper">
                    <?php if ($post->getThumbnail()): ?>
                        <img src="<?= $block->getThumbnailImageSrc($post->getThumbnail()) ?>"
                             alt="<?= $post->getTitle() ?>"/>
                    <?php endif; ?>
                </div>
                <div class="blog-post-content">
                    <h3 class="blog-post-content-title">
                        <?= $block->truncateText($post->getTitle(), 50) ?>
                    </h3>
                    <div class="blog-post-content-description">
                        <?= $block->truncateText($post->getContent(), 180); ?>
                    </div>
                    <div class="blog-post-content-action">
                        <a href="<?= $post->getUrlKey() ?>">
                            <span><?= __('read more') ?></span>
                        </a>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
