<h3><?= __('Latest blog items'); ?></h3>
<?php
/**
 * @var Webmango\WebmangoBlog\Block\Blog $this
 */
$posts = $this->getLatestBlogs();
if (is_array($posts)): ?>
    <ul>
        <?php foreach ($posts as $post): ?>
            <li>
                <a href="<?= $post->getUrlKey() ?>">
                    <span> <?= $this->truncateText($post->getTitle(), 32) ?></span>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
