& when (@media-common = true) {
    .bubble-me {
        .bubble {
            text-align: center;
            width: 21px;
            height: 21px;
            position: absolute;
            border-radius: 50%;
            background-color: @color-cyan-500;
            display: inline-block;
            margin-left: 5px;
            line-height: 19px;
            i {
                .lib-font-size(15);
                color: @color-white-900;
                font-family: @font-bold;
                text-decoration: none;
                font-style: normal;
            }
        }
    }
}
