//
//  Mobile (style-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .blocks {
        .webmango-list-inline();
        ul {
            li {
                position: relative;
                box-sizing: border-box;
                text-align: center;
                strong{
                    font-family: @font-black;
                    bottom: 20px;
                    margin: 10px auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .blocks {
        ul {
            li {
                width: 49%;
                height: 33%;
                margin-right: 2%;
                margin-bottom: 2%;
                &:nth-of-type(odd){
                    margin-right: 0;
                }
                strong{
                    font-size: 2rem;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .blocks {
        ul {
            li {
                width: 31%;
                height: 50%;
                margin-left: 1%;
                strong{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .blocks {
        ul {
            li {
                strong{
                    font-size: 3rem;
                }
            }
        }
    }
}




