@webmango-blog-grid-overview: 3;
//
//  Mobile (style-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .blog-grid {
        .blog-post{
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .blog-grid {
        .blog-post{
            width: 100%;
        }
    }
}
//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .blog-grid {
        .blog-post{
            width: calc((100% - 4%) / @webmango-blog-grid-overview);

            &:not(:last-child){
                margin-right: 2%;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
}
