& when (@media-common = true) {
    .blog-post {
        display: inline-block;
        float: left;
        box-sizing: border-box;
        background-color: @color-white-900;
        &-image-wrapper {
            overflow: hidden;
            img {
                .webmango-image-scaling();
            }
        }
        &-content {
            padding: 0 10px 20px 10px;
            text-align: center;
            &-title {
                overflow: hidden;
                font-family: @font-bold;
            }
            &-description {
                overflow: hidden;
                font-family: @font-light;
            }
            &-action {
                overflow: hidden;
                a {
                    .button-transparent-gradiant(
                        @button-transparent-gradiant-padding: 10px 30px,
                        @button-transparent-gradiant-font-size: 1.4rem
                    )
                }
            }
        }
    }
    .blog-latest-text{
        .blog-text-wrapper{
            .lib-font-size(15);
            .text-bubble{
                .webmango-bubble();
            }
            .text-content{
                color: @color-black-900;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .blog-post {
        margin-bottom: 20px;
    }
}
//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .blog-post {
        &-image-wrapper {
            height: 300px;
            img {
                .webmango-image-scaling();
            }
        }
        &-content {
            &-title {
                height: 50px;
            }
            &-description {
                height: 150px;
            }
            &-action {
                height: 50px;
                a {
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .blog-post {
        &-image-wrapper {
            height: 250px;
        }
        &-content {
            &-title {
                height: 50px;
            }
            &-description {
                height: 130px;
            }
            &-action {
                height: 50px;
                a {
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .blog-post {
        &-image-wrapper {
            height: 300px;
            img {
                .webmango-image-scaling();
            }
        }
        &-content {
            &-title {
                height: 50px;
            }
            &-description {
                height: 100px;
            }
            &-action {
                height: 50px;
                a {
                }
            }
        }
    }
}
