& when (@media-common = true) {
    .cms-index-index {
        .hero-container-wrapper {
            width: 100%;
            .page-main {
                background-color: @color-gray-100;
                .home-hero-left {
                    h1.page-title {
                        font-family: @font-black;
                    }
                    a {
                        min-width: 200px;
                        padding-right: 30px;
                    }
                }
                .home-hero-right {
                    .owl-carousel {
                        .owl-stage-outer {
                            padding: 5px 0;
                        }
                    }
                    .owl-nav {
                        padding: 10px 0;
                        .fas {
                            color: @color-purple-900;
                        }
                    }
                }
            }
        }
        .home-container-usp {
            width: 100%;
            &-wrapper {
                overflow: hidden;
                &-left {
                    background-color: @color-gray-100;
                    p {
                        font-family: @font-light;
                    }
                }
                &-right {
                    background-color: @color-cyan-900;
                    ul {
                        li {
                            float: right;
                            background-color: @color-gray-100;
                        }
                    }
                }
            }
        }
        .home-container-blog {
            width: 100%;
            background-color: @color-gray-100;
            &-wrapper {
                .webmango-max-layout();
                overflow: hidden;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-index-index {
        .hero-container-wrapper {
            .page-main {
                padding-left: 0;
                padding-right: 0;
                .home-hero-left {
                    .lib-layout-column(1, 1, 100%);
                    margin-top: 20px;
                    .blog-latest-text {
                        display: none;
                    }
                    h1.page-title {
                        font-size: 60px;
                    }
                    .column.main {
                        p {
                            display: none;
                        }
                        a {
                            margin-top: 10px;
                        }
                    }
                }
                .home-hero-right {
                    .lib-layout-column(1, 1, 100%);
                    .lib-background-gradient(
                        @_background-gradient: true,
                        @_background-gradient-color-start:@color-purple-900,
                        @_background-gradient-color-end: @color-cyan-900,
                        @_background-gradient-direction:horizontal
                    );
                }
            }
        }
    }
    .home-container-usp {
        &-wrapper {
            .lib-layout-column(1, 1, 100%);
            &-left {
                .lib-layout-column(1, 1, 100%);
                padding-top: 20px;
                padding-bottom: 20px;
                h2 {
                    font-size: 5rem;
                }
            }
            &-right {
                .lib-layout-column(1, 1, 100%);
                ul {
                    height: 500px;
                    margin: 50px 0;
                }
            }
        }
    }
    .home-container-blog {
        padding: 80px 0 0 0;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index {
        .hero-container-wrapper {
            background: url('@{baseDir}images/hero-background.svg') no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            .page-main {
                .home-hero-left {
                    .lib-layout-column(2, 1, 50%);
                    padding-top: 30px;
                    .page-title-wrapper {
                        max-width: 560px;
                        h1.page-title {
                            font-size: 6rem;
                        }
                    }
                    .column.main {
                        max-width: 540px;
                        padding: 20px 0;
                        p {
                            font-size: 2rem;
                            line-height: 30px;
                        }
                        a {
                            margin-top: 20px;
                        }
                    }
                }
                .home-hero-right {
                    .lib-layout-column(2, 2, 50%);
                    padding-top: 30px;
                    .widget {
                        padding: 5px 0;
                        background-color: @color-gray-100;
                    }
                }
            }
        }
        .home-container-usp {
            margin: 50px 0;
            background: url('@{baseDir}images/usp-background.svg') no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            &-wrapper {
                height: 500px;
                &-left {
                    .lib-layout-column(2, 1, 40%);
                    background-color: @color-gray-100;
                    box-sizing: border-box;
                    height: 100%;
                    padding: 0 40px 0 0;
                    h2 {
                        font-size: 6rem;
                        margin-top: 35px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
                &-right {
                    .lib-layout-column(2, 2, 60%);
                    background-color: @color-cyan-900;
                    height: 100%;
                    ul {
                        height: 400px;
                        margin: 50px 0;
                    }
                }
            }
        }
        .home-container-blog {
            padding: 80px 0;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-index-index {
        .hero-container-wrapper {
            .page-main {
                .home-hero-left {
                    .page-title-wrapper {
                        h1.page-title {
                            font-size: 7rem;
                        }
                    }
                }
            }
        }
        .home-container-usp {
            margin: 100px 0;
            &-wrapper {
                height: 600px;
                &-left {
                    .lib-layout-column(2, 1, 30%);
                    h2 {
                        font-size: 7rem;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
                &-right {
                    .lib-layout-column(2, 2, 70%);
                    ul {
                        height: 500px;
                        margin: 50px 0;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .cms-index-index {
        .hero-container-wrapper {
            .page-main {
                .home-hero-left {
                    .page-title-wrapper {
                        h1.page-title {
                            font-size: 9rem;
                        }
                    }
                }
            }
        }
        .home-container-usp {
            margin: 150px 0;
            &-wrapper {
                &-left {
                    .lib-layout-column(2, 1, 25%);
                }
                &-right {
                    .lib-layout-column(2, 2, 75%);
                }
            }
        }
    }
}
