// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-banners,
    .block-banners-inline {
        margin-bottom: 0;

        .banner-items {
            &:extend(.abs-reset-list all);
        }

        .banner-item {
            display: block;
        }

        .banner-item-content {
            margin-bottom: @indent__base;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
