// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        .form.subscribe {
            display: table;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 35px,
                @_icon-font-line-height: 49px,
                @_icon-font-color: @form-element-input-placeholder__color
                );
                display: block;

                &:before {
                    position: absolute;
                }
            }
        }

        input {
            height: 48px;
            margin-right: 35px;
            padding: 0 0 0 35px; // Reset some default Safari padding values.
        }

        .title {
            display: none;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

        .action.subscribe {
            border-bottom-left-radius:0px;
            border-top-left-radius: 0px;
            border-bottom-right-radius:3px;
            border-top-right-radius: 3px;
            margin-left: -1px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        max-width: 100%;
        .field {
            height: 48px;
            .control {
                width: 100%;
            }
        }
    }
}
