& when (@media-common = true) {
    .product {
        &-items {
        }
        &-item {
            box-shadow: @product-shadow;
            position: relative;
            &:hover {
                box-shadow: @product-shadow-hover;
            }
            .actions-secondary {
                position: absolute;
                right: 10px;
                top: 10px;
            }
            // only catalog view
            body.catalog-category-view & {
                &-info {
                    width: 100% !important;
                }
                &-photo {
                    .lib-layout-column(2, 1, 40%);
                    background-color: @color-gray-100;
                }
                .product-item-details {
                    .lib-layout-column(2, 2, 60%);
                }
                &-name {
                    .lib-font-size(24);
                    font-weight: 300;
                    height: 30px;
                }
                &-full-description {
                    .lib-font-size(16);
                    height: 87px;
                    color: @color-black-300;
                    overflow: hidden;
                    margin-bottom: 10px;
                    p{
                        margin: 0;
                    }
                }
                &-description {
                    margin-bottom: 30px;
                }
                .actions-primary{
                    form{
                        .lib-layout-column(2, 2, 55%);
                    }
                    .action.more{
                        .lib-layout-column(2, 1, 40%);
                    }
                }
            }

            .products-grid & {
            }
            &:nth-child(2n + 1) {
            }
            &-name {
                font-family: @font-black;
            }
            &-info {
                .page-products & {
                }
            }
            &-actions {
                margin-bottom: 20px;
                > * {
                }
                .actions-secondary {
                    > button.action {
                    }
                    > .action {
                        span {
                        }
                    }
                }
                .actions-primary {
                    width: 100%;
                    .tocart {
                        width: 100%;
                    }
                }
            }
            &-description {
            }
            .price-box {
                .price {
                    color: @color-black-500;
                    font-family: @font-black;
                    font-size: 2rem;
                }
                .price-label {
                }
            }
            .special-price,
            .minimal-price {
                .price {
                }
                .price-wrapper {
                }
                .price-including-tax + .price-excluding-tax {
                }
            }
            .special-price {
            }
            .old-price {
                .price {
                }
            }
            .regular-price {
                .price-label {
                }
            }
            .minimal-price {
                .price-container {
                }
            }
            .minimal-price-link {
                .price-label {
                }
                .price {
                }
            }
            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
            }
            .price-from,
            .price-to {
            }
            .tocompare {
            }
            .tocart {
            }
        }
    }
    .price-container {
        .price {
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product {
        &-items {
        }
        &-item {
            body.catalog-category-view & {
                margin-bottom: 30px;
                .product-item-details {
                    padding: 30px 5px 0 5px;
                }
                .actions-primary{
                    form{
                        button{
                            .lib-font-size(14px);
                        }
                    }
                    .action.more{
                        .lib-font-size(14px);
                    }
                }
            }
            .products-grid & {
            }
            &:nth-child(2n + 1) {
            }
            &-name {
                height: 40px;
                overflow: hidden;
                font-size: 2rem;
            }
            &-info {
                .page-products & {
                }
            }
            &-actions {
                > * {
                }
                .actions-secondary {
                    > button.action {
                    }
                    > .action {
                        span {
                        }
                    }
                }
                .actions-primary {
                }
            }
            &-description {
                height: 100px;
                ul {
                    li {
                        margin-bottom: 5px;
                    }
                }
            }
            .price-box {
                overflow: hidden;
                height: 30px;
                margin-bottom: 10px;
                .price {
                }
                .price-label {
                }
            }
            .special-price,
            .minimal-price {
                .price {
                }
                .price-wrapper {
                }
                .price-including-tax + .price-excluding-tax {
                }
            }
            .special-price {
            }
            .old-price {
                .price {
                }
            }
            .regular-price {
                .price-label {
                }
            }
            .minimal-price {
                .price-container {
                }
            }
            .minimal-price-link {
                .price-label {
                }
                .price {
                }
            }
            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
            }
            .price-from,
            .price-to {
            }
            .tocompare {
            }
            .tocart {
            }
        }
    }
    .price-container {
        .price {
        }
    }
}
//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product {
        &-items {
        }
        &-item {
            // only catalog view
            position: relative;
            body.catalog-category-view & {
                width: calc((100% - 4%) / 2) !important;
                margin-left: 0 !important;
                &:nth-child(even) {
                    margin-left: 2% !important;
                }
                .product-item-details {
                    padding: 30px 10px 0 10px;
                }
                .actions-primary{
                    form{
                        button{
                            .lib-font-size(14px);
                        }
                    }
                    .action.more{
                        .lib-font-size(14px);
                    }
                }
            }
            .products-grid & {
            }
            &:nth-child(2n + 1) {
            }
            &-info {
            }
            &-photo {
            }
            .product-item-details {
            }
            &-name {
                .webmango-font-bold();
                height: 40px;
                overflow: hidden;
                font-size: 2rem;
            }
            &-info {
                .page-products & {
                }
            }
            &-actions {
                > * {
                }
                .actions-secondary {
                    > button.action {
                    }
                    > .action {
                        span {
                        }
                    }
                }
                .actions-primary {
                }
            }
            &-description {
                height: 80px;
                overflow: hidden;
                font-size: 1.4rem;
                ul {
                    li {
                        margin-bottom: 0px;
                    }
                }
            }
            .price-box {
                overflow: hidden;
                height: 30px;
                .price {
                }
                .price-label {
                }
            }
            .special-price,
            .minimal-price {
                .price {
                }
                .price-wrapper {
                }
                .price-including-tax + .price-excluding-tax {
                }
            }
            .special-price {
            }
            .old-price {
                .price {
                }
            }
            .regular-price {
                .price-label {
                }
            }
            .minimal-price {
                .price-container {
                }
            }
            .minimal-price-link {
                .price-label {
                }
                .price {
                }
            }
            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
            }
            .price-from,
            .price-to {
            }
            .tocompare {
            }
            .tocart {
            }
        }
    }
    .price-container {
        .price {
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product {
        &-items {
        }
        &-item {
            body.catalog-category-view & {
                .product-item-details {
                    padding: 30px 20px 0 10px;
                }
                .actions-primary{
                    form{
                        button{
                            .lib-font-size(18px);
                        }
                    }
                    .action.more{
                        .lib-font-size(18px);
                    }
                }
            }
            .products-grid & {
            }
            &:nth-child(2n + 1) {
            }
            &-name {
            }
            &-info {
                .page-products & {
                }
            }
            &-actions {
                > * {
                }
                .actions-secondary {
                    > button.action {
                    }
                    > .action {
                        span {
                        }
                    }
                }
                .actions-primary {
                }
            }
            &-description {
                ul {
                    li {
                    }
                }
            }
            .price-box {
                .price {
                }
                .price-label {
                }
            }
            .special-price,
            .minimal-price {
                .price {
                }
                .price-wrapper {
                }
                .price-including-tax + .price-excluding-tax {
                }
            }
            .special-price {
            }
            .old-price {
                .price {
                }
            }
            .regular-price {
                .price-label {
                }
            }
            .minimal-price {
                .price-container {
                }
            }
            .minimal-price-link {
                .price-label {
                }
                .price {
                }
            }
            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
            }
            .price-from,
            .price-to {
            }
            .tocompare {
            }
            .tocart {
            }
        }
    }
    .price-container {
        .price {
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .product {
        &-items {
        }
        &-item {
            .products-grid & {
            }
            &:nth-child(2n + 1) {
            }
            &-name {
            }
            &-info {
                .page-products & {
                }
            }
            &-actions {
                > * {
                }
                .actions-secondary {
                    > button.action {
                    }
                    > .action {
                        span {
                        }
                    }
                }
                .actions-primary {
                }
            }
            &-description {
                font-size: 1.5rem;
                ul {
                    li {
                    }
                }
            }
            .price-box {
                .price {
                }
                .price-label {
                }
            }
            .special-price,
            .minimal-price {
                .price {
                }
                .price-wrapper {
                }
                .price-including-tax + .price-excluding-tax {
                }
            }
            .special-price {
            }
            .old-price {
                .price {
                }
            }
            .regular-price {
                .price-label {
                }
            }
            .minimal-price {
                .price-container {
                }
            }
            .minimal-price-link {
                .price-label {
                }
                .price {
                }
            }
            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
            }
            .price-from,
            .price-to {
            }
            .tocompare {
            }
            .tocart {
            }
        }
    }
    .price-container {
        .price {
        }
    }
}

