& when (@media-common = true) {
    .catalog-product-view {
        .page-title-wrapper {
        }
        .product.media {
            .fotorama__stage__frame {
                border: solid 1px @color-black-500;
            }
        }
        .product-info-main {
            .product-info-price {
                min-height: 100px;
                background: url('@{baseDir}images/single-small-teal.svg') no-repeat right;
                .price-box {
                    .price-including-tax + .price-excluding-tax,
                    .weee + .price-excluding-tax,
                    .weee {
                        .price {
                        }
                    }
                    .price-wrapper .price {
                        color: @color-black-500;
                        font-family: @font-black;
                    }
                    .price {
                    }
                }
                .special-price {
                    .price-container {
                    }
                    .price-label + .price-wrapper {
                    }
                }
                .old-price,
                .special-price {
                    .price-label {
                    }
                }
            }
            .overview {
                .webmango-checklist();
                border: solid 1px @color-black-900;
                padding: 10px 15px;
            }
            .product-add-form {
                .lib-layout-column(2, 1, 50%);
                .box-tocart {
                    .fieldset {
                        margin: 0;
                        .action.tocart {
                            .lib-font-size(16);
                            box-shadow: @product-shadow;
                            width: 100%;
                        }
                    }
                }
            }
            .product-social-links {
                .lib-layout-column(2, 2, 50%);
                .product-addto-links {
                    .action {
                        float: left;
                        &.towishlist {
                            &:extend(.button-transparent-gradiant);
                            span {
                                padding-left: 15px;
                                .lib-icon-font(
                                    @_icon-font-content: @icon-wishlist-empty,
                                    @_icon-font-size: 40px,
                                    @_icon-font-position: after
                                );
                            }
                        }
                    }
                }
            }
            .product-addto-links {
            }
            .action.tocompare {
            }
        }
        .product.info.detailed {
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .page-title-wrapper {
        }
        .product.media {
        }
        .product-info-main {
        }
        .product.info.detailed {
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view {
        .product.media {
            .fotorama__thumb-border {
            }
            .fotorama__nav--thumbs {
                .fotorama__thumb {
                    border: solid 1px @color-black-500;
                }
                .fotorama__active {
                    .fotorama__thumb {
                        border-color: @color-purple-900 !important;
                    }
                }
            }
        }
        .product-info-main {
            .product-info-price {
                margin-bottom: 20px;
                min-height: 130px;
                background: url('@{baseDir}images/single-small-teal.svg') no-repeat right;
                .page-title-wrapper {
                    h1 {
                        margin-bottom: 15px;
                    }
                }
                .price-box {
                    .price-including-tax + .price-excluding-tax,
                    .weee + .price-excluding-tax,
                    .weee {
                        .price {
                        }
                    }
                    .price-wrapper .price {
                        .lib-font-size(28);
                    }
                    .price {
                    }
                }
                .special-price {
                    .price-container {
                    }
                    .price-label + .price-wrapper {
                    }
                }
                .old-price,
                .special-price {
                    .price-label {
                    }
                }
            }
            .box-tocart {
                .field.qty {
                }
                .input-text.qty {
                }
                .actions {
                }
                .action.tocart {
                }
            }
            .product-social-links {
                .product-addto-links {
                    padding-left: 20px;
                }
            }
            .action.tocompare {
            }
        }
        .product.info.detailed {
        }
    }
}
