& when (@media-common = true) {
    .catalog-category-view {
        .category-heading-wrapper {
            display: block;
            width: 100%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalog-category-view {
        .category-heading-wrapper {
            height: 350px;
            background: url('@{baseDir}images/single-big-teal.svg') no-repeat right;
            background-size: 300px 300px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-category-view {
        .category-heading-wrapper {
            height: 350px;
            background: url('@{baseDir}images/single-big-teal.svg') no-repeat right;
            background-size: 371px 300px;
            .category-heading-right {
                h1 {
                    .lib-font-size(50);
                }
            }
            .category-heading-left {
                .category-description {
                    margin-top: 10px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view {
        .category-heading-wrapper {
            display: block;
            width: 100%;
            height: 400px;
            background: url('@{baseDir}images/double-teal.svg') no-repeat right;
            background-size: 100% 325px;
            .category-heading-right {
                .lib-layout-column(1, 1, 35%);
                h1 {
                    .lib-font-size(52);
                }
            }
            .category-heading-left {
                .lib-layout-column(2, 1, 65%);
                .category-description {
                    .lib-font-size(18);
                    float: right;
                    box-sizing: border-box;
                    padding: 60px 80px 0 0;
                    max-width: 500px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .catalog-category-view {
        .category-heading-wrapper {
            .category-heading-right {
                h1 {
                    .lib-font-size(60);
                }
            }
            .category-heading-left {
                .category-description {
                    padding: 80px 80px 0 0;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .catalog-category-view {
        .category-heading-wrapper {
            .category-heading-right {
                h1 {
                    .lib-font-size(70);
                }
            }
            .category-heading-left {
                .category-description {
                 //   padding: 80px 80px 0 0;
                }
            }
        }
    }
}
