
//
//  Mobile (style-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .minicart-wrapper {
        z-index: 10;
        .action.showcart {
            .counter.qty {
                font-family: @font-bold;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        .action.showcart {
            .counter.qty {
                margin-left: -9px;
            }
        }
    }
}
