<?php
/**
 * @var Webmango\CatalogExtend\Block\Product $this
 */
?>

<script>
    require(['jquery','domReady!'],
        function ($) {
            var countProducts = <?=  $this->escapeJs($this->productBlockGetCountProducts()); ?>;

            $('.level0.first.level-top > a').addClass('bubble-me');
            $('.bubble-me').each(function () {
                $(this).append("<span class='bubble'><i>"+countProducts+"</i></span>")
            });
        });
</script>
