<h3><?= __('Latest modules'); ?></h3>
<?php
$products = $this->productBlockGetLatestProducts();
if (is_array($products)): ?>
    <ul>
        <?php foreach ($products as $product): ?>
            <li>
                <a title="<?= $product->getName(); ?>"
                   href="<?= $product->getProductUrl(); ?>"><?= $product->getName(); ?></a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
